POSTGRES_USER=actas_test
POSTGRES_PASSWORD=ActasTestPostgres2026
SECRET_KEY=bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
INTERNAL_API_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ADMIN_NAME=Administrador de pruebas
ADMIN_EMAIL=admin@test.local
ADMIN_PASSWORD=AdminTest2026
MIN_PASSWORD_LENGTH=6
TZ=America/Guayaquil
WEB_PORT=18080
MAILPIT_PORT=18025
APP_BASE_URL=http://localhost:18080
SESSION_COOKIE_SECURE=false
MAX_BACKUP_UPLOAD_BYTES=104857600
MAX_BACKUP_EXTRACTED_BYTES=524288000
EMAIL_NOTIFICATIONS_ENABLED=true
SYSTEM_NAME=ARCONEL - Pruebas automatizadas
PGADMIN_DEFAULT_EMAIL=admin@test.local
PGADMIN_DEFAULT_PASSWORD=PgAdminTest2026
PGADMIN_PORT=15050
