# Credentials and Environment
.env
.flaskenv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases
*.sqlite3
backups/

# Docker
.dockerignore

# Virtual Environments
venv/
.venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Static assets
app/static/.webassets-cache
